@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  overflow-x: hidden;
  height: auto;
  font-family: "Mooli", sans-serif;
}

@layer components {
  .auth-section {
    @apply w-full h-screen overflow-hidden flex flex-col items-start justify-start px-6 py-4 gap-6;
  }
}
